# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db

# ===========================
# IDE
# ===========================
.vscode/
.idea/
*.iml

# ===========================
# Logs
# ===========================
logs/
*.log

# ===========================
# Environment
# ===========================
.env
.env.local

# ===========================
# Java / Maven
# ===========================
backend/target/
*.class

# ===========================
# React / Node
# ===========================
frontend/node_modules/
frontend/dist/
frontend/build/

# ===========================
# PostgreSQL
# ===========================
database/backup/*.sql

# ===========================
# Docker
# ===========================
docker-data/

# ===========================
# Temporary files
# ===========================
*.tmp
*.swp
